@import "variables.css";

header {
  overflow: hidden;
  text-align: center;
  width: 100%;
  background-color: rgba(238,236,219,1);
}

.gradient{
  position:relative;
  display:inline-block;
}
.gradient:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: linear-gradient(90deg, rgba(238,236,219,1) 0%, transparent 10%, transparent 90%, rgba(238,236,219,1) 100%);
}

.header-content {
  margin: 0;
  position: relative;
  text-align: center;
}

/* .alt-logo, */
.main-logo {
  height: 200px;
  min-height: 200px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.alt-logo {
  display: initial;
  height: 125px;
  transform: translateX(-90%);
  width: 125px;
}

.main-logo {
  display: none;
}

/* Swap out the mobile logo for the full one */
@media screen and (min-width: 45em) {
  .alt-logo {
    display: none;
  }

  .main-logo {
    display: initial;
  }

  .main-nav-container button {
    display: none;
  }
}
