@import "variables.css";

.registry-nav {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(auto-fill, minmax(38px, 1fr));
  grid-gap: 0;
  margin-bottom: 1.5rem;
}

.registry-nav a {
  color: #59680c;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  justify-self: stretch;
  border: 1px solid;
  text-decoration: none;
}

.registry-search {
  background-color: #ffffff;
  border: 1px solid #59680c;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 10px;
}

.letter-section {
  border-bottom: thin solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.letter-section .letter {
  font-size: 22pt;
}

.letter-section .back {
  right: 0;
  border: none;
  font-size: 10px;
}

.registry-filter {
  padding: 2rem 0;
  position:sticky;
  top:0;
  width: 100%;
  z-index: 999;
  background-color: var(--color-gray-100);
  border-bottom: 1px solid var(--color-gray-300)
}

.registry-filter span {
  display: inline-block;
  position: relative;
  margin: 0 1rem;
  color: var(--color-gray-600);
  font-weight: 600;
  text-transform: uppercase;
}

.registry-filter input {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  margin-right: 0.15em;
}

.registry-filter input[type="checkbox"]:focus-visible {
  outline: max(2px, 0.15em) solid var(--color-gray-900);
  outline-offset: max(2px, 0.15em);
}

.registry-filter input[type="checkbox"]:checked:after {
  content: "";
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  box-shadow: inset 1em 1em var(--color-accent-900);
  font-size: 14px;
	position: absolute;
	top: .45em;
	left: .25em;
  width: 0.65em;
  height: 0.65em;
}

.registry-filter label {
  vertical-align: text-bottom;
}

.registry-coll-chip {
  background-color: #59680c;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  margin: 0 5px 0 5px;
  padding: 2px;
}

.registry ul li {
  margin-bottom: 1em;
}

.registry ul li div, .registry ul li div p {
  height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
